header{
    position:absolute;
    width:100%;
    z-index:3;
    top:0;
    left:0;
}

.header-top-wrap{
    padding:6px 0;
    background:rgba(34,34,34,.5);
    position:relative;
    z-index:2;
}

/*---contact-header-list----*/
.contact-header-list,
.header-account-list,
.header-socials-list{
    list-style:none;
    padding:0;
    margin-bottom:0;
}

.header-account-list,
.header-socials-list{
    position:relative;
    display:inline-block;

}
.header-socials-list{
    margin-left:15px;
}

.header-account-list::before{
    position:absolute;
    top:5px;
    right:-10px;
    bottom:5px;
    content:"";
    width:1px;
    background:#fff;
}

.contact-header-list-item,
.header-account-item,
.header-socials-item{
    font-size:14px;
    display:inline-block;
    margin-right:10px;
}

.header-account-item{
    text-transform: capitalize;
}

.contact-header-list-item:last-child,
.header-account-item:last-child{
    margin-right:0;
}

.contact-header-list-item i{
    display:inline-block;
    margin-right:2px;
    color: #fb5b21;
    font-size:12px;
}

.contact-header-list-item a,
.header-account-item a,
.header-socials-list a{
    text-decoration:none;
    color:#fff;
}

.contact-header-list-item a:hover,
.header-account-item a:hover{
    text-decoration: underline;
}

.account-socials{
    text-align:right;
}

.header-socials-item{
    margin-right:5px;
}

.header-socials-item:last-child{
    margin-right:0;
}

.header-socials-item a:hover i{
    color:#fb5b21;

}

/*--header-logo-menu--*/
.header-logo-menu-wrap{
    padding:20px 0;
    
}

.header-menu{
    list-style:none;
    padding:0;
    margin-bottom:0;
    text-align:right;
}

.header-menu-item{
    display:inline-block;
    font-size:16px;
    margin-right:30px;
    text-transform:uppercase;
    font-weight:600;
}

.header-menu-item:last-child{
    margin-right:0;
}

.header-menu-item a{
    color:#fff;
    text-decoration:none;
}

.header-menu-item a:hover{
    color:#fb5b21;
}

.header-logo-menu-rand{
    display:flex;
    align-items:center;
}
/*--end of header-logo-menu--*/

/*--Banner--*/
.banner-wrap{
    position:relative;
    z-index:1;
    background-image:url('../images/index/bg4.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height:80vh;
    display:flex;
    align-items:flex-end;
    
}

.image-trainer-banner{
    text-align:right;
}

.description-trainer-banner{
    color:#fff;
}

.banner-rand{
    display:flex;
    align-items:center;
}

.description-trainer-socials{
    list-style:none;
    padding:0;
    margin:20px 0;
}

.trainer-socials-item{
    display:inline-block;
    
}


.trainer-socials-item a{
    color:#fb5b21;
    display:block;
    transition:all .5s;
    width:50px;
    height:50px;
    border-radius:50%;
    border:2px solid #f5f5f5;
    text-align:center;
    line-height:45px;
    transition: all .5s;


}

.trainer-socials-item a:hover{
    background:#fb5b21;
    color:#fff;
    border:2px solid #fb5b21;
}

.trainer-socials-item a i{
    font-size:14px;
}

.btn-join-trainer{
    display:inline-block;
    padding:10px 20px;
    border-radius:25px;
    border:2px solid #fb5b21;
    color:#fff;
    text-transform:uppercase;
    text-decoration:none;
}

.btn-join-trainer:hover{
    text-decoration:none;
    color:#fff;
}


/*--End of Banner--*/

/*--What I Do--*/
.what-i-do-wrap{
    padding:100px 0;
}

.what-i-do-description h3{
    text-transform:uppercase;
    margin-bottom:20px;
}

.what-i-do-description h3 span{
    color:#fb5b21;
}

.what-i-do-description p{
    color:#666;
    font-size:15px;
}

.rand-counters{
    margin-top:30px;
}



.counter-item{
    border:2px solid #eee;
    padding:15px 25px;
    display:flex;
    align-items:center;
}

.counter-item-icon,
.counter-item-description{
    display:inline-block;
}

.counter-item-icon{
    margin-right:25px;
}
.counter-item-icon i{
    color: #fff;
    font-size:30px;
    display:inline-block;
    width:50px;
    height:50px;
    border:2px solid #fb5b21;
    text-align:center;
    line-height:45px;
    border-radius:50%;
    background:#fb5b21;

}

.counter-item-number{
    font-size:24px;

}

.counter-item-titlu{
    text-transform:capitalize;
    color:#666;
}
/*--End of What I Do--*/
/*--My Featured Classes--*/
.my-featured-classes-wrap{
    padding:100px 0;
    background:#f8f8f8;

}

.my-featured-classes-description{
    text-align:center;
    margin-bottom:50px;
}

.my-featured-classes-titlu{
    position:relative;
    padding-bottom:15px;
    margin-bottom:20px;
    text-transform:uppercase;
    font-weight:800;
    font-size:20px;
    color:#111;

}

.my-featured-classes-titlu::before{
    position:absolute;
    bottom:0;
    width:50px;
    height:3px;
    background: #fb5b21;
    content:"";
    left:50%;
    margin-left:-25px;
}

.my-featured-classes-descriere{
    width:80%;
    margin:0 auto;
    color:#666;
}

.featured-classes-description{
    padding:20px 15px;
    background:#fff;
}

.featured-classes-desc-name{
    text-transform:capitalize;
    margin-bottom:10px;
    font-weight:600;
    font-size:20px;
}

.featured-classes-desc-icon,
.featured-classes-desc-trainers{
    display:inline-block;
}

.featured-classes-item .featured-classes-desc-icon{
    margin-right:5px;
    color:#666;
    transition:all .5s;

}

.featured-classes-item:hover .featured-classes-desc-icon{
    color:#fb5b21;
}

.featured-classes-item .featured-classes-desc-trainers{
    text-transform:capitalize;
    color:#666;
}
/*--End of My Featured Classes--*/
/*---Why Choose Me---*/
.why-choose-me-wrap{
    padding-top:100px;

}

.why-choose-me-description h3{
    font-size:32px;
    color:#222;
    text-transform:uppercase;
    position:relative;
    z-index:1;
    padding-bottom:15px;
    margin-bottom:20px;


}

.why-choose-me-description h3::before{
    position:absolute;
    bottom:0;
    left:0;
    width:50px;
    height:2px;
    background: #fb5b21;
    content:"";
}

.why-choose-me-description p{
    font-size:16px;
    color:#666;
}

#headingOne,
#headingTwo,
#headingThree{
    border:1px solid #eee;
    border-radius:30px;
    margin-bottom:5px;
}

#headingOne h2 .btn,
#headingTwo h2 .btn,
#headingThree h2 .btn{
    display:block;
    width:100%;
    text-align:left;
    padding-left:15px;
    color:#222;
    text-transform:capitalize;
    font-weight:600;
    text-decoration:none;


}

.card-body{
    color:#666;
    font-size:16px;
}
/*---End of Why Choose Me---*/
/*---Banner Yoga---*/
.banner-yoga-wrap{
    position:relative;
    z-index:1;
    background-image:url('../images/index/banner_yoga.jpg');
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    height:500px;
}

.banner-yoga-description{
    position: relative;
    z-index:2;
    color:#fff;
    text-align:center;
    padding:150px 0;
    height:500px;
}

.banner-yoga-description h3{
    font-size:30px;
    text-transform:uppercase;
    margin-bottom:30px;

}

.banner-yoga-description p{
    font-size:22px;
    font-weight:600;
    text-transform:uppercase;

}
.banner-yoga-description p span{
    color:#fb5b21;
}

.banner-yoga-description a{
    display:inline-block;
    padding:15px 25px;
    border:2px solid #fb5b21;
    border-radius:25px;
    color:#fff;
    text-decoration:none;
    text-transform:capitalize;
    font-weight:600;
    margin-top:20px;
    transition:all .5s;
}

.banner-yoga-description a:hover{
    background:#fb5b21;
}

/*---End of Banner Yoga---*/

/*---Expert Trainers---*/
.expert-trainers-wrap{
    padding:100px 0;

}
.expert-trainers-titlu-desc{
    text-align:center;
    margin-bottom:50px;
}

.expert-trainers-titlu{
    position:relative;
    z-index:1;
    padding-bottom:15px;
    margin-bottom:20px;
    text-transform:uppercase;
    font-size:24px;
    font-weight:800;
}

.expert-trainers-titlu::before{
    position:absolute;
    bottom:0;
    left:50%;
    margin-left:-25px;
    width:50px;
    background:#fb5b21;
    height:2px;
    content:"";
}

.expert-trainers-desc{
    width:80%;
    margin:0 auto;
    color:#666;
    font-size:16px;
}

.expert-trainers-item .expert-trainers-card{
    overflow:hidden;
}

.expert-trainers-item .expert-trainer-image{
    /*background-image:url('../images/index/trainer_1.jpg');
    background-position:center;
    background-repeat:no-repeat;
    height:250px;*/
    position:relative;
    overflow:hidden;
}

.expert-trainers-item .overlay-image-trainer{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:2;
    background: rgba(251,91,33,.7);
    
    transform:translateX(-100%);
    transition:all .5s;

}

.expert-trainers-item:hover .overlay-image-trainer{
    transform:translateX(0);
}

.expert-trainer-image{
    border-radius:50%;
}


.overlay-image-trainer{
    display:flex;
    align-items:center;
    justify-content:center;
}

.expert-trainers-social-list{
    list-style:none;
    position:relative;
    z-index:2;
    padding:0;
    margin-bottom:0;

}

.expert-trainers-social-item{
    display:inline-block;
}

.expert-trainers-social-item a{
    display:inline-block;
    width:40px;
    height:40px;
    line-height:35px;
    text-align:center;
    color:#fff;
    text-decoration:none;
    border:2px solid #fff;
    border-radius:50%;
    transition:all .5s;

}

.expert-trainers-social-item a:hover{
    background:#fff;
    color:#222;
}

.expert-trainers-nume-profesie{
    padding:20px;
    text-align:center;
    text-transform:capitalize;

}

.expert-trainers-nume{
    font-size:20px;
    font-weight:600;

}

.expert-trainers-profesie{
    color:#666;
    font-size:18px;
    margin-top:5px;
}

/*---End of Expert Trainers---*/

/*---footer---*/
.footer-wrap{
    padding:30px 0;
    background:#222;
    color:#fff;
    text-align:center;
}

.footer-wrap p{
    margin-bottom:0;
    font-weight:600;
}

.header-menu-item .activ{
    color:#fb5b21;
}
/*---end of footer---*/
